body {
  margin: 0;
  background: #0b1020;
  color: white;
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 10px;
}

video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background: black;
  border-radius: 12px;
}